
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header h1 {
    font-size: 48px;
    font-weight: 600;
}

.subheading {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 15px 30px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    position: relative;
}

.btn:hover {
    background-color: #666;
}

.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transition: 0.3s ease;
    opacity: 0;
}

.btn:hover::after {
    opacity: 1;
}

#unscrub:hover {
    content: "YO!";
    cursor: pointer;
}

#yo:hover {
    content: "UNSCRUB";
    cursor: pointer;
}

#musicrune:hover {
    content: "MUSICRUNE";
    cursor: pointer;
}

.twitter-accounts {
    margin-top: 40px;
}

.twitter-accounts h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.account-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-link {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #1DA1F2;
    transition: 0.3s ease;
}

.account-link:hover {
    color: #fff;
    text-decoration: underline;
}
